/* Шапка [ДЛЯ ВСЕХ СТРАНИЦ] */
#head {
    height: 20%;
    left: 0px;
    opacity: 1;
    overflow: hidden;
    position: absolute;
    top: 0px;
    width: 100%;

}
#head-icon {
    float: left;
    position: static;
    margin-left: 6%;
}
#head-name {
    padding-left: 5%;
    font-color: rgb(0, 0, 0);
    font-family: Comfortaa;
    font-size: 20px;
    font-weight: Bold;
    opacity: 1;
    position: static;
    width: 100%;

}
#head-text{
    float: right;
    font-color: rgb(0, 0, 0);
    font-family: Comfortaa;
    font-size: 20px;
    font-weight: Bold;
    opacity: 1;
    text-align: center;
    width: 25%;
}
table {
    display: block;
    position: absolute;
    background: rgba(235, 106, 34, 0.85);
    width: 100%;
    margin: 0;
}

/* МЕНЮ НА ГЛАВНОЙ СТРАНИЦЕ*/
.dropdown {
    border-radius: 10px;
    display: inline-block;
}
.dropdown-content {
    border-radius: 10px;
    display: none;
    top: 70%;
    margin-left: 1%;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
    border-radius: 10px;
    color: black;
    padding: 12px 16px;
    display: block;
}
.dropdown-content a:hover {
    background-color: #ddd;

}
.dropdown:hover .dropdown-content {
    display: block;

}

/* УВЕДОМЛЕНИЕ [АЛЕРТ] */
.alert {
  margin-left: 40%;
  margin-right: 40%;
  text-align: center;
  padding: 12px;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  font-size: 16px;
}
.alert.alert-danger {
  background-color: rgba(248, 215, 218, 1);
  border-color: rgba(220, 53, 69, 1);
  color: rgba(114, 28, 36,1);
}

/* ССЫЛКИ В ТЕКСТЕ*/
a {
    color: rgba(0,0,0,1);
    text-decoration: none;
}

/* ПОЗИЦИОНИРОВАНИЕ */
#top {
    margin-top: 7%;
    position: relative;
    width: 100%;
    align: center;
}
#top-and-left {
    margin-left: 6%;
    margin-top: 15%;
    position: static;
    width: 46%;
}
#top-and-center {
    margin-top: 7%;
    text-align: center;
}
#left {
    float: left;
    height: 100%;
    margin-left: 6%;
    position: static;
    width: 43%;
}
#right {
    height: 100%;
    float: right;
    margin-right: 5%;
    position: static;
    width: 44%;
}
#center {
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
}

/* ТЕКСТ НА СТРАНИЦАХ */
.text-1{
    color: rgba(0,0,0,1);
    font-family: Montserrat;
    font-size: 48px;
    font-weight: Regulary;
    opacity: 1;
}
.text-2 {
    color: rgba(0,0,0,1);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: Bold;
    opacity: 1;
    overflow: hidden;
    position: static;
    width: 100%;
}
.text-3 {
    color: rgba(0,0,0,1);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: Regular;
    opacity: 1;
    overflow: hidden;
    position: static;
    text-align: justify;
}
.text-4 {
    color: rgba(0,0,0,0.800000011920929);
    font-family: Montserrat;
    font-size: 18px;
    font-weight: Regular;
    opacity: 1;
    position: static;
}
.text-5 {
    color: rgba(189,189,189,1);
    font-family: Comfortaa;
    font-size: 9px;
    font-weight: Bold;
    position: static;
    opacity: 1;
    top: 54.3%;
}
.text-404 {
  font-family: Comfortaa;
  font-weight: Regular;
  font-size: 64px;
  color: rgba(235, 106, 34, 0.85);
  text-align: center;
  opacity: 1;}
.text-in-square {
    width: 68%;
    margin-left: 10%;
    margin-top: 1%;
    border: 2px solid black;
    background: #e6e9f2;
    text-align: center;
    font-family: Comfortaa;
    font-size: 16px;
}

/* КНОПКИ */
.btn {
	appearance: none;
    background-color: #fff;
    border-radius: 50px;
    border: 1px solid #fff;
    box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
    box-sizing: border-box;
    color: #444;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    height: 46px;
    line-height: 46px;
    margin: 0 15px 15px 0;
    outline: none;
    padding: 0 25px;
    position: static;
    text-decoration: none;
    touch-action: manipulation;
    transition: box-shadow 0.2s;
    user-select: none;
    vertical-align: top;
}
.btn:focus-visible {
	border: 1px solid #4c51f9;
	outline: none;
}
.btn:hover {
    box-shadow: 0 7px 14px rgb(65 132 144 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
	transition: all 0.2s;
}
.btn:active {
    background-color: rgba(128, 128, 128, 0.5);

}
.btn:disabled {
	background-color: #eee;
	border-color: #eee;
	color: #444;
	cursor: not-allowed;
}
.btn-submit {
	appearance: none;
    background-color: #fff;
    border-radius: 50px;
    border: 1px solid #fff;
    box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
    box-sizing: border-box;
    color: #444;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    height: 25px;
    outline: none;
    position: static;
    text-decoration: none;
    touch-action: manipulation;
    transition: box-shadow 0.2s;
    user-select: none;
}

/* ПОЛЕ ВВОДА ПАРОЛЯ НА СЕКРЕТНОЙ СТРАНИЦЕ */
input[type=password] {
  width: 10%;
  line-height: 2;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 14px;
}

/* СПИСОК ДЛЯ ОГЛАВЛЕНИЯ */
ol {
    padding-left: 15%;

}
li {
    color: rgba(0,0,0,1);
    font-family: Montserrat;
    font-size: 25px;
    font-weight: Regular;
}

/* КРУГЛОЕ ИЗОБРАЖЕНИЕ */
.circle-img {
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    width: 250px;
    height: 250px;
    border-radius: 250px;
}