<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
    <title>О ЯП | УПС! </title>
</head>
<body>
<div id="head" style="height: 8%">
<table style="height: 100%"></table>
</div>
<div style="margin-top: 10%"></div>
<div id="center">
    <p class="text-404"><b>Упс!</b><br>Кажется, возникла ошибка<br><br>
    <img src="../static/img/404.png" class="img-center"></p>
    <a href="/"><p class="text-404" style="font-size: 24px;">[Вернуться на главную страницу]</p></a>
</div>
</body>
</html>