<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
    <title>О ЯП | Оглавление </title>
</head>
<body background="static/img/bg.gif">
<div id="head">
<table>
    <td width="5%"></td>
    <td>
        <div id="head-icon"><a href="/"><img src="static/img/img_notebook.png" class="img-icon"></a>
    </div>
    </td>
    <td width="30%">
        <div id="head-name"><p><a href="/">О языках программирования</a></p></div>
    </td>
    <td width="90%">
        <div id="head-text"><p><a href="/info-page">О сайте</a></p></div>
    </td>
</table>
</div>
<div id="top-and-center">
    <h1 class="text-1">Оглавление сайта</h1>
    <p class="text-2">Сколько страниц ты сможешь найти?</p>


</div>
<div id="center">
    <ol>
        <li><p class="text-3"><a href="/">Главная страница</a></p></li>
        <li><p class="text-3"><a href="">Swift</a></p></li>
        <li><p class="text-3"><a href="">C#</a></p></li>
        <li><p class="text-3"><a href="">C++</a></p></li>
        <li><p class="text-3"><a href="">Java</a></p></li>
        <li><p class="text-3"><a href="">Python</a></p></li>
        <li><p class="text-3"><a href="">JavaScript</a></p></li>
        <li><p class="text-3"><a href="/info-page">О сайте</a></p></li>
        <li><p class="text-3"><a href="/developer-page">О разработчике</a></p></li>
        <li><p class="text-3"><a href="/contents-page">Оглавление сайта</a></p></li>
        <li><p class="text-3"><a href="secret-page">Секретная страница</a></p></li>
    </ol>
</div>
</body>
</html>