<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
    <link rel="icon" href="../static/img/favicon.ico" type="image/x-icon">
    <title>О ЯП | О C++ </title>
</head>
<body background="static/img/bg.gif">
<div id="head" style="height: 8%">
<table>
    <td width="5%"></td>
    <td>
        <div id="head-icon"><a href="/"><img src="static/img/img_notebook.png" class="img-icon"></a>
    </div>
    </td>
    <td width="30%">
        <div id="head-name"><p><a href="/">О языках программирования</a></p></div>
    </td>
    <td width="90%">
        <div id="head-text"><p><a href="/info-page">О сайте</a></p></div>
    </td>
</table>
</div>
<div style="margin-top: 5.5%">
<div id="left">
    <h1 class="text-1">3. О языке C++</h1>
    <p class="text-4" style="font-size: 30px;">C++ — производительный язык,
        он помогает дорожным картам в GPS не тупить и строить оптимальные
        маршруты, любимым играм — не лагать и выдавать максимальное качество
        с выкрученными до предела настройками графики, банковским сервисам —
        быть круглосуточными, а переводам — моментальными.
</div>
<div id="right">
  <video src="static/img/cplus.mp4" style="width: 70%; padding-top: 3%; margin-left: 10%;" controls="controls"></video>
</div>
<div class="center" style="padding-top: 21%; margin-left: 6%;">
    <p class="text-4" style="font-size: 30px;">Производительность — важная характеристика любой компьютерной
        <a href="/java-page" class="aintext">игры</a>. Counter-Strike, StarCraft: Brood War, Diablo I, World of Warcraft
        — все они появились давно и были написаны на C++, как и операционные системы консолей Xbox и PlayStation, ядра
        популярных игровых движков Unreal Engine или Unity, на базе которых сделано огромное количество 3D-игр,
        симуляторов, шутеров и стратегий.<br><br>C++ незаменим для высоконагруженных приложений, его используют для
        разработки поисковых движков, роботов торговых бирж, систем управления базами данных и маршрутизации сетевого
        трафика.</p>
    <p class="text-3"><a href="/sharp-page">[К прошлому языку]</a><a href="/contents-page">[Оглавление]</a></p>
</div>
</div>
</body>
</html>