<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
    <title>О ЯП | О разработчике </title>
</head>
<body background="static/img/bg.gif">
<div id="head">
<table>
    <td width="5%"></td>
    <td>
        <div id="head-icon"><a href="/"><img src="static/img/img_notebook.png" class="img-icon"></a>
    </div>
    </td>
    <td width="30%">
        <div id="head-name"><p><a href="/">О языках программирования</a></p></div>
    </td>
    <td width="90%">
        <div id="head-text"><p><a href="/info-page">О сайте</a></p></div>
    </td>
</table>
</div>

<div id="top-and-center"><h1 class="text-1">Информация о разработчике</h1></div>
<div id="left">
    <table style="background: none; width: 50%">
    <td>
        <img src="static/img/developer.jpg" class="circle-img">
    </td>
    <td width="40px;">
    </td>
    <td>
        <p class="text-2" style="margin-bottom: 0px;"><b>Сафонова Алёна Алексеевна</b></p>
        <p class="text-5" style="font-size: 18px; margin-top: 0px;">(Alicia Crossman, alexsssa)</p>
        <br>
        <p class="text-3" style="margin-top: 0px;"><b>Специализация:</b> Разработка desktop приложений и WEB сайтов на Python с использованием
            различных парадигм программирования.</p>
    </td>
</table>
</div>
<div id="center">
    <p class="text-3" style="margin-top: 20%;"><b>Обо мне:</b> На данный момент я обучаюсь на третьем курсе профессионально-педагогического колледжа
        СГТУ имени Гагарина Ю.А. по специальности “Информационные системы и программирование”. Обладаю знаниями,
        необходимыми для программирования сетевых приложений, в том числе с использованием сторонних API, а также
        пользовательских интерфейсов и компьютерных игр. Уверенно владею языком программирования Python, а также на
        базовом уровне такими языками, как C#, C++, Java.</p>
    <br><br>
    <p class="text-3"><b>Ссылка на VK: </b><a href="https://vk.com/viadolorrosa">https://vk.com/viadolorrosa</a></p>
    <p class="text-3"><b>Ссылка на GitHub: </b><a href="https://github.com/alexsssa">https://github.com/alexsssa</a></p>
</div>

</body>
</html>