<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
    <title>О ЯП | О сайте </title>
</head>
<body background="static/img/bg.gif">
<div id="head" style="height: 8%">
<table>
    <td width="5%"></td>
    <td>
        <div id="head-icon"><a href="/"><img src="static/img/img_notebook.png" class="img-icon"></a>
    </div>
    </td>
    <td width="30%">
        <div id="head-name"><p><a href="/">О языках программирования</a></p></div>
    </td>
    <td width="90%">
        <div id="head-text"><p><a href="/info-page">О сайте</a></p></div>
    </td>
</table>
</div>
<div id="top-and-center"><h1 class="text-1">Информация о сайте</h1></div>
<br>
<div id="center">
        <p class="text-3"><b>«О языках программирования»</b> - это информационный сайт,
            написанный в рамках дисциплины <b>«Разработка web приложений».</b>
            <br><br>
            Язык программирования — это набор формальных правил, по которым пишут программы. Обычный язык нужен для
            общения людей, а язык программирования — для общения с компьютером.
            <br><br>
            Со времени создания первых программируемых машин человечество придумало более двух с половиной тысяч языков
            программирования. Каждый год их число увеличивается.
            <br><br>
            <b>Цель начинающего программиста — </b> научиться изъясняться так, чтобы компьютер его понимал. Для каждой
            задачи, платформы и операционной системы хороши определённые языки, а всего их существует около 9 000.
            Изучать их все не нужно, можно успешно работать всего с несколькими языками или даже с одним.
            <br><br>
            В сфере IT огромное количество направлений: от создания игр и приложений до разработки роботов, которые
            полностью заменяют труд человека. Не существует языка программирования, который бы одинаково быстро решал
            задачи для любого из этих направлений. На этом сайте предоставлена краткая информация о семи языках
            программирования, входящих в топ лучших.
            <br><br>
            Важно понимать, что любые списки лучших языков программирования субъективны и обычно основаны на том,
            насколько язык популярен, универсален и комфортен в работе.
            <br><br>
            <b>Интересно, но факт:</b> Данный сайт написан в учебных целях с использованием языков программирования HTML, CSS, Python</p></div>
</body>
</html>
