<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
    <link rel="icon" href="../static/img/favicon.ico" type="image/x-icon">
    <title>О ЯП | О Java </title>
</head>
<body background="static/img/bg.gif">
<div id="head" style="height: 8%">
<table>
    <td width="5%"></td>
    <td>
        <div id="head-icon"><a href="/"><img src="static/img/img_notebook.png" class="img-icon"></a>
    </div>
    </td>
    <td width="30%">
        <div id="head-name"><p><a href="/">О языках программирования</a></p></div>
    </td>
    <td width="90%">
        <div id="head-text"><p><a href="/info-page">О сайте</a></p></div>
    </td>
</table>
</div>
<div style="margin-top: 5.5%">
<div id="left">
    <img src="static/img/java.jpg">
    <p style="margin-top: 3.5%;"></p>
    <marquee bgcolor="#faa19b" hspace="1px;"><a href="https://clck.ru/32bH4n">Чай Принцесса Ява · Bestofindia/Чай Ассам
        черный индийский листовой Assam, 100г. Bestofindia. 189 ₽ 200 ₽ · Bestofindia/Чай Дарджилинг классический
        черный ...</a></marquee>
</div>
<div id="right">
    <h1 class="text-1">4. О языке Java</h1>
    <p class="text-4" style="font-size: 27px;">Java используют 3 миллиона устройств.<br><br>Этот язык универсален и
        используется повсюду: мобильные приложения и игры, научные разработки и мобильные телефоны, игровые консоли и
        серьёзные суперкомпьютеры.<br>
        <a href="/python-page"><font style="font-size: 27px; color: white;">[К следующему языку]</font></a><br>
        Пожалуй, проще сказать, кто в интернете не использует Java. На этом языке написаны amazon.com — популярнейший
        интернет-магазин; серверная часть ebay, весь набор функций операционной системы Android, и даже спецэффекты в
        фильме «Мстители» компания созданы с помощью Java. <br>Язык Java популярен и в России. С помощью него создана
        серверная часть сайта РЖД и соцсеть Одноклассники. На Java также пишут корпоративные приложения для создания
        программного обеспечения, такие как JetBrains IntelliJ Idea, Jira, NetBeans, RubyMine, Eclipse и другие.
    </p>
    <p class="text-3"><a href="/cplus-page">[К прошлому языку]</a><a href="/contents-page">[Оглавление]</a></p>
</div>
</div>
</body>
</html>