<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
    <link rel="icon" href="../static/img/favicon.ico" type="image/x-icon">
    <title>О ЯП | О Java </title>
</head>
<body background="static/img/bg.gif">
<div id="head" style="height: 8%">
<table>
    <td width="5%"></td>
    <td>
        <div id="head-icon"><a href="/"><img src="static/img/img_notebook.png" class="img-icon"></a>
    </div>
    </td>
    <td width="30%">
        <div id="head-name"><p><a href="/">О языках программирования</a></p></div>
    </td>
    <td width="90%">
        <div id="head-text"><p><a href="/info-page">О сайте</a></p></div>
    </td>
</table>
</div>
<div style="margin-top: 5.5%">
<div id="left">
    <img src="static/img/java.jpg" style="width: 70%; margin-left: 10%; padding-top: 3.5%;">
    <p class="text-in-square">Заходит однажды тестировщик в бар. Забегает в бар. Пролезает в бар. Танцуя, проникает в
        бар. Крадется в бар. Врывается в бар. Прыгает в бар и заказывает:стакан сока, 2 стакана сока, 0 стаканов сока,
        999999999 стаканов сока, ящерицу в кружке, –1 кружку сока, qwertyuip стаканов сока <br> Первый реальный клиент
        заходит в бар и спрашивает, где туалет. Бар вспыхивает пламенем, все погибают.</p>
</div>
<div id="right">
    <h1 class="text-1">5. О языке Java</h1>
    <p class="text-4" style="font-size: 27px;">Java – высокоуровневый язык программирования, изначально разработанный
      компанией Sun Microsystems и выпущенный в 1995 году. Работает на различных платформах, таких как Windows, Mac OS,
      а также различных версий UNIX. <br><br>
      Java – это язык программирования общего назначения, предназначенный для того, чтобы программисты могли писать
      один раз и запускать где угодно (WORA). Это означает, что скомпилированный код Java может работать на всех
      платформах, поддерживающих Java, без необходимости повторной компиляции.<br><br>
      Изначально язык назывался Oak («Дуб») разрабатывался Джеймсом Гослингом для программирования бытовых электронных
        устройств. Впоследствии он был переименован в Java и стал использоваться для написания клиентских приложений и
        серверного ПО.
    </p>
    <p class="text-3"><a href="/cplus-page">[К прошлому языку]</a>            <a href="/contents-page">[Оглавление]</a></p>
</div>
</div>
</body>
</html>