<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
    <link rel="icon" href="../static/img/favicon.ico" type="image/x-icon">
    <title>О ЯП | О JS </title>
</head>
<body background="static/img/bg.gif">
<div id="head" style="height: 8%">
<table>
    <td width="5%"></td>
    <td>
        <div id="head-icon"><a href="/"><img src="static/img/img_notebook.png" class="img-icon"></a>
    </div>
    </td>
    <td width="30%">
        <div id="head-name"><p><a href="/">О языках программирования</a></p></div>
    </td>
    <td width="90%">
        <div id="head-text"><p><a href="/info-page">О сайте</a></p></div>
    </td>
</table>
</div>
<div style="margin-top: 5.5%"></div>
<div id="left" style="width:87%; height: 100%;">
    <h1 class="text-1">6. О языке JavaScript</h1>
    <p class="text-3" style="font-size: 30px;"><b>JavaScript</b> — это язык программирования, который используют
        для написания frontend- и backend-частей сайтов, а также мобильных приложений. Часто в текстах и обучающих
        материалах название языка сокращают до <b>JS</b>. Это язык программирования высокого уровня, то есть код
        на нем понятный и хорошо читается.<br><br>
        JS поддерживают все популярные браузеры. Во frontend-части сайтов язык используют для создания интерактива
        (анимаций, всплывающих форм, автозаполнения), так как он связан с HTML и CSS и может ими манипулировать. В
        backend-части с языком JavaScript работают на платформе Node.js. С ее помощью, например, разрабатывают
        серверные веб-приложения и подключают библиотеки. В поисковике Google на JavaScript работает строка
        автозаполнения, а Netflix, Uber, eBay используют его в своем backend.</p>
    <img src="static/img/js.jpg" style="margin-left: 2%;">
    <p class="text-3"><a href="/python-page">[К прошлому языку]</a> <a href="/contents-page">[Оглавление]</a></p>
</div>
</body>
</html>