<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
    <title>О языках программирования</title>
</head>

<body background="static/img/bg.gif">
<div id="head">

<table>
    <td width="5%"></td>
    <td>
        <div id="head-icon"><a href="/"><img src="static/img/img_notebook.png" class="img-icon"></a>
    </div>
    </td>
    <td width="30%">
        <div class="dropdown">
            <div id="head-name"><a href="#"><p>О языках программирования</p></a></div>
            <div class="dropdown-content">
                <a href="/info-page">О сайте</a>
                <a href="#">О разработчике</a>
                <a href="#">Полное оглавление</a>
            </div>
        </div>
    </td>
    <td width="90%">
        <div id="head-text"><p><a href="/info-page">О сайте</a></p></div>
    </td>
</table>



<div id="top-and-left"><h1 class="text-1">Программирование - это искусство и никак иначе</h1></div>

<div id="left">
    <p class="text-2">Язык программирования</p>
    <p class="text-4">Предназначен для написания
        компьютерных программ, которые представляют
        собой набор правил, позволяющих компьютеру
        выполнить вычислительный процесс.</p>
    <a target="_blank" href="https://clck.ru/F5dN6">
        <button type="button" class="btn">Подробнее</button>
    </a>
</div>
<div id="right">
    <p class="text-2">Программист (разработчик)</p>
    <p class="text-4">Специалист, занимающийся
        программированием, то есть разработкой
        алгоритмов и компьютерных программ
        на специальном языке. </p>
    <a target="_blank" href="https://clck.ru/A4E5E">
        <button type="button" class="btn">Подробнее</button>
    </a>
    <a href="/secret-page"><p class="text-5">нажми сюда</p></a>
</div></div>
</body>
</html>
