<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
    <link rel="icon" href="../static/img/favicon.ico" type="image/x-icon">
    <title>О ЯП | О Python </title>
</head>
<body background="static/img/bg.gif">
<div id="head" style="height: 8%">
<table>
    <td width="5%"></td>
    <td>
        <div id="head-icon"><a href="/"><img src="static/img/img_notebook.png" class="img-icon"></a>
    </div>
    </td>
    <td width="30%">
        <div id="head-name"><p><a href="/">О языках программирования</a></p></div>
    </td>
    <td width="90%">
        <div id="head-text"><p><a href="/info-page">О сайте</a></p></div>
    </td>
</table>
</div>
<div style="margin-top: 5.5%">
<div id="left">
    <h1 class="text-1">5. О языке Python</h1>
    <p class="text-4" style="font-size: 30px;">Python — это скриптовый язык программирования.
        Он универсален, поэтому подходит для решения разнообразных задач и для многих платформ.
        <br><b>Одним из важнейших отличий</b> этого языка от <a href="/js-page" style="aintext">Java</a>
        или C заключается в том, что для написания приложений здесь используется меньше кода.</p>
</div>
<div id="right">
  <img src="/static/img/python.png" style="width: 85%; margin-top: 4%; margin-left: 5%;">
</div>
<div class="center" style="padding-top: 21%; margin-left: 6%;">
    <p class="text-4" style="font-size: 30px;">Основной особенностью данного языка программирования является то, что
        его достаточно просто понять и изучить. Причем сделать это могут даже те, кто никогда раньше не сталкивался с
        программированием.<br>Еще одна особенность заключается в том, что у Python есть множество библиотек, с
        помощью которых достичь своих целей в программировании можно намного быстрее.<br><br>Такие известные социальные
        сети и онлайн стрим площадки как Instagram и Youtube целиком написаны на Python. Наконец, язык применяется NASA
        для автоматизации процессов WAS. А Walt Disney использует Python для создания анимаций.
    </p>
    <p class="text-3"><a href="/java-page">[К прошлому языку]</a><a href="/contents-page">[Оглавление]</a></p>
</div>
</div>
</body>
</html>
