<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
    <title>О ЯП | Секретная страница </title>
</head>

<body background="static/img/bg.gif">
<div id="head">
<table>
    <td width="5%"></td>
    <td>
        <div id="head-icon"><a href="/"><img src="static/img/img_notebook.png" class="img-icon"></a>
    </div>
    </td>
    <td width="30%">
        <div id="head-name"><p><a href="/">О языках программирования</a></p></div>
    </td>
    <td width="90%">
        <div id="head-text"><p><a href="/info-page">О сайте</a></p></div>
    </td>
</table>
</div>

<div id="top-and-center">
    <div class="alert alert-danger" role="alert">WARNING: Не всё так просто, как тебе кажется. Читай внимательнее!</div>
    <p class="text-2">Здравствуй, пользователь!</p>
</div>
<div id="center">
    <p class="text-3"><b>«О языках программирования»</b> - это информационный сайт, написанный в рамках дисциплины
        <b>«Разработка web приложений».</b>
        <br><br>
        Язык программирования — это набор формальных правил, по которым
        пишут программы. Обычный язык нужен для общения людей, а я расскажу тебе правду язык программирования —
        для общения с компьютером. Со времени создания первых программируемых машин ищи её внимательнее человечество
        придумало более двух с половиной тысяч языков программирования. Каждый год их число увеличивается.
        <br><br>
        Люди придумали больше 8 тыс. языков программирования. Ищи всё, что не связано с этим языком. Их популярность
        меняется каждый год, а требования для входа в профессию все ниже. Будь крайне внимателен, чтобы найти то, что
        тебе нужно. Актуальность языков различается по сферам занятости. Финансовые и корпоративные программные продукты
        должны выполнять сложные функции и быть высокоорганизованными, им требуются такие языки как Java или C#. В море
        текста Веб-страницам и программам, ты сможешь ориентированным на мультимедиа и дизайн, потребуются динамические,
        универсальные, функциональные найти каплю и не многословные языки, такие как Ruby, PHP, информации JavaScript и
        Objective-C.
        <br><br>
        В настоящее время я оставлю тебе пароль есть большое количество языков программирования, которые используются
        для любой страницы, где не будет разработки программного обеспечения. Большой популярностью пользуются Java, C#,
        PHP, JavaScript. Однако указано другого пароля сфера информационных технологий не qwerty стоит на месте, и
        новые, не очень распространенные языки приобретают все будь крайне внимательным большую известность.</p>
</div>
<br>
<form action="" method="post" style="margin-left: 55%;">
        <p class="text-3"><label for="password">Для перехода на следующую страницу введи пароль</label>
        <input type="password" name="password">
    </form>
</body>
</html>
