<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
    <link rel="icon" href="../static/img/favicon.ico" type="image/x-icon">
    <title>О ЯП | О C# </title>
</head>
<body background="static/img/bg.gif">
<div id="head" style="height: 8%">
<table>
    <td width="5%"></td>
    <td>
        <div id="head-icon"><a href="/"><img src="static/img/img_notebook.png" class="img-icon"></a>
    </div>
    </td>
    <td width="30%">
        <div id="head-name"><p><a href="/">О языках программирования</a></p></div>
    </td>
    <td width="90%">
        <div id="head-text"><p><a href="/info-page">О сайте</a></p></div>
    </td>
</table>
</div>
<div style="margin-top: 5.5%">
<div id="left">
    <img src="static/img/sharp2.jpeg" style="width: 65%; margin-left: 15%; padding-top: 3.5%;">
    <img src="static/img/sharp.png" style="width: 75%; margin-left: 10%; padding-top: 1%;">
</div>
<div id="right">
    <h1 class="text-1">2. О языке C# («Си-шарп»)</h1>
    <p class="text-4" style="font-size: 28px;">Он же: Шарик, шарфик, углерод-решетка, до-диез, си-вафля, си-сетка,
        це решетка, C++++, си с решеточкой, си хештег, пошарпаный си, си-тон.
    <br><br>
    C# крайне гибкий, мощный и универсальный язык. На нем пишут практически все что угодно, от небольших
    веб-приложений до мощных программных систем, объединяющих в себе веб-структуры, приложения для десктопов и
    мобильных устройств. Все это стало возможным благодаря удобному Си-подобному синтаксису, строгому
    структурированию, огромному количеству фреймворков и библиотек (их число достигает нескольких сотен).
    <br><br>
    По большому счёту — это Java с припаянным сбоку C<a href="/cplus-page" class="aintext">+</a>+ и парой фич.
    </p>
    <p class="text-3"><a href="/swift-page">[К прошлому языку]</a>            <a href="/contents-page">[Оглавление]</a></p>
</div>
</div>
</body>
</html>