<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
    <link rel="icon" href="../static/img/favicon.ico" type="image/x-icon">
    <title>О ЯП | О Swift </title>
</head>
<body background="static/img/bg.gif">
<div id="head" style="height: 8%">
<table>
    <td width="5%"></td>
    <td>
        <div id="head-icon"><a href="/"><img src="static/img/img_notebook.png" class="img-icon"></a>
    </div>
    </td>
    <td width="30%">
        <div id="head-name"><p><a href="/">О языках программирования</a></p></div>
    </td>
    <td width="90%">
        <div id="head-text"><p><a href="/info-page">О сайте</a></p></div>
    </td>
</table>
</div>
<div style="margin-top: 5.5%">
<div id="left">
    <h1 class="text-1">1. О языке Swift <a href="/sharp-page">#</a></h1>
    <p class="text-4" style="font-size: 30px;">Swift - это фантастический способ писать приложения
        для телефонов, для десктопных компьютеров, серверов, да и чего-либо еще,
        что запускает и работает при помощи кода. <br><br>Swift дружелюбен по отношению
        к новичкам в программировании. Это первый язык программирования промышленного
        качества, который также понятен и увлекателен, как скриптовый язык.<br><br>
        Код на Swift скомпилирован и оптимизирован, чтобы получать максимальную отдачу
        от современного оборудования.  Комбинация безопасности и скорости делает Swift
        лучшим кандидатом для написания программ от уровня "Hello, World!" и до целой
        операционной системы.</p>
</div>
<div id="right">
    <img src="static/img/swift.jpg" style="width: 70%; padding-top: 3%; margin-left: 10%;">
    <img src="static/img/swift2.png" style="width: 90%;">
</div>
</div>
</body>
</html>