<! DOCTYPE html> Тип объявления документа, объявление помогает браузеру правильно отображать веб-страницу
 <html> Корневой тег html-документа
     <head> Информация заголовка веб-страницы, используемая для базовой конфигурации веб-страницы.
        <meta charset = "utf-8"> Кодировка символов веб-страницы
        <title> Базовая структура html </title> Заголовок веб-страницы, отображаемый в окне браузера
    </head>
 <body> В этом теге запишите содержимое, отображаемое на веб-странице </body>
 </html>
